.scheme-two {
 transform: rotate(180deg); 
}

.automa-player {
  display:none;
}

.automa-player.current {
  display:inline-block;
  margin:0 auto;
}

.hide {
  display:none;
}

.flex-container-centre{
  flex-direction: column;
  height:100%;
  display:flex;
  justify-content: center;
}

.pad-sides-med {
  padding:0   20px;
}